.main span {
  font-size: 20px;
}

.main p {
  font-size: 16px;
  line-height: 2;
  color: black;
}

.info {
  display: grid;
  grid-gap: 2%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.info span {
  color: #070707;
  font-size: 20px;
}
body {
  background-size: cover;
  background-position: center;
  height: 500px;
  background-color:#abcbeb;
}
.adminPannel{
  background-color:#8ebce9;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}