.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  margin-top: 5%;
}
body {
  background-color: #cccccc;
  background-size: cover;
  background-position: center;
  height: 500px;
  background-image: radial-gradient(rgb(13, 20, 2), rgb(43, 41, 21));
}
.navbar li a {
  text-decoration: none;
  list-style: none;
  margin-right: 20px;
}
